# actdyn records
bak_actdyn.pl/
actdyn_baker.bat

# Updates
updates.txt
removed.txt

# actdyn aux and result files
figs/
phits_np1e7/
results/

# lcounter
lines_counted/
actdyn_lcounter.bat

# MSWin link files
*.lnk

# POD-related
actdyn_usage.bat
actdyn.html
pod2htmd.tmp
actdyn_pod2html.bat
